<div class="container mt-5" id="songEdit">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @song %>
      <%= form_with(model: @song, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label t('name'), class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: t('name Pl'), id: "name" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label t('startTime'), class: "col-2 col-form-label text-light" %>
          <div class="col-2">
            <%= f.text_field :startSeconds, class: "form-control shadow rounded", id: "startSeconds", value:(
             if @song.songDuration >= 3600
               Time.at(@song.startSeconds).utc.strftime("%H:%M:%S")
             else
                Time.at(@song.startSeconds).utc.strftime("%M:%S")
             end
            ) %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label t('stopTime'), class: "col-2 col-form-label text-light" %>
          <div class="col-2">
            <%= f.text_field :endSeconds, class: "form-control shadow rounded", id: "endSeconds",value:(
              if @song.songDuration >= 3600
                Time.at(@song.endSeconds).utc.strftime("%H:%M:%S")
              else
                Time.at(@song.endSeconds).utc.strftime("%M:%S")
              end
            ) %>
          </div>
        </div>
        <div class = "form-group row">
          <div class="col-2"></div>
          <iframe class="col-8" id="ytplayer" type="text/html" width="640" height="360"
                  src="https://www.youtube.com/embed/<%= @song.yid %>?autoplay=0"
                  frameborder="0"></iframe>
          <div class="col-2"></div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit t('update'),class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
