<div class="row">
  <div class="col-1">
    <button href='#' id="play-button<%=song.id %>" class="btn" ><%= icon("play-circle", class: "playButton") %></button>
  </div>
  <div class="col-5">
    <div class="vertical-center">
      <%= song.name %>
    </div>
  </div>
  <div class="col-3">
    <div class="vertical-center">
      <% if song.songDuration >= 3600 %>
        <%= Time.at(song.startSeconds).utc.strftime("%H:%M:%S") %> - <%= Time.at(song.endSeconds).utc.strftime("%H:%M:%S") %>
      <% else %>
        <%= Time.at(song.startSeconds).utc.strftime("%M:%S") %> - <%= Time.at(song.endSeconds).utc.strftime("%M:%S") %>
      <% end %>
    </div>
  </div>
  <div class="col-2">
    <div class="vertical-center">
      <%= t('before', datetime: time_ago_in_words(song.created_at)) %>
    </div>
  </div>
  <div class="col-1">
    <div class="vertical-center">
      <%= link_to icon("trash-fill",class: "deleteButtonSongListItem vertical-center"), playlist_deleteSongFromPlaylist_path(playlist_id: @playlist.id, song: song.id), class: "btn text-danger", id: "delete_song_#{song.id}", remote: true, data: { confirm: t('u sure Pl', pl: song.name) } %>
      <%= link_to icon("pen-fill",class: "editButtonSongListItem vertical-center"), edit_song_path(song), class: "btn" , id: "edit_song_#{song.id}"%>
    </div>
  </div>
</div>

<script>
    $('#play-button<%=song.id %>').click(function (e) {
        $.ajax({
            type: 'POST',
            url: '<%=playlist_changeSong_path(:playlist_id => song.playlist_id, :song => song.id) %>',
        });
        document.getElementById("songId<%=song.id %>").click();
        return false;
    })
</script>