<button href='#' id="play-button<%=song.id %>" class="btn" ><%= icon("play-circle", class: "playButton") %></button>
<%= song.name %>
<%#= link_to 'test', playlist_changeSong_path(:playlist_id => song.playlist_id, :song => song.id), method: :post,remote: true %>
<%= link_to icon("trash-fill",class: "deleteButtonSongListItem vertical-center"), song_path(song), class: "btn text-danger", method: :delete, data: { confirm: t('u sure Pl', pl: song.name) } %>

<script>
    $('#play-button<%=song.id %>').click(function (e) {

        $.ajax({
            type: 'POST',
            url: '<%=playlist_changeSong_path(:playlist_id => song.playlist_id, :song => song.id) %>',
        });
        document.getElementById("songId<%=song.id %>").click();
        return false;
    })
</script>