<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @playlist %>
      <%= form_with(model: @playlist, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label t('name'), class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: t('name Pl') %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit t('update'),class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>