<div class="row mt-1 mb-1 ml-1 mr-1">

    <div class="col-1"></div>
    <div class="col-5">
      <%= t('name') %>
    </div>
    <div class="col-3">
      <%= t('startEnd') %>
    </div>

    <div class="col-2">
      <%= t('added') %>
    </div>

  <div class="col-1">
  <%= render 'songModal' %>
</div>
</div>
<div>
  <ul class="list-group col-md-12">
    <% if @playlist.songs.size > 0 %>
      <% @playlist.songs.each do |sg| %>
        <li class="list-group-item" id="songId<%=sg.id %>">
          <%= render partial: "songListItem", locals: { song: sg} %>
        </li>
      <% end %>
    <% else %>
      <div>　<%= t('noSongs') %>　</div>
    <% end %>
  </ul>

</div>

