<div id="sticky-footer" class="py-1 bg-dark text-white fixed-bottom">
  <div class="row justify-content-center" id="current_song_name"></div>
  <div class="row justify-content-center">

    <div id="music-controls" class="col-2 row">
      <div id="prevButton" class='controlButton btn'> <%= icon('skip-backward', class: 'controlButton') %></div>
      <div id="playButton" class='controlButton btn'>
        <div id="playButtonToggle">
          <%= icon('play-circle', class: 'controlButton') %>
        </div>
        <div id="pauseButtonToggle">
          <%= icon('pause-circle', class: 'controlButton') %>
        </div>
      </div>
      <div id="nextButton" class='controlButton btn'> <%= icon('skip-forward', class: 'controlButton') %></div>
    </div>

    <div id="player" class="player col-9">
      <%#= render :template => "playground/index" %>
      <%= render 'layouts/youtubePlayer' %>
    </div>
    <div id="soundButton">
      <div id="soundButtonToggle" style="display: none">
        <%= icon('volume-mute-fill', class:'controlButton') %>
      </div>
      <div id="muteButtonToggle" style="display: none">
        <%= icon('volume-up-fill', class:'controlButton') %>
      </div>
    </div>
    <% if controller_name == "playlists" %>
      <div id="playModes">
        <%= render 'layouts/playmodes' %>
      </div>
    <% end %>

  </div>

</div>


