
<% if !current_song.nil? %>
<!--  <iframe src='https://www.youtube.com/embed/<%#= current_song.id %>?rel=0&autoplay=1&modestbranding=1' frameborder='0' allowfullscreen></iframe>-->


<div id="youtube-player">
  <div data-video="<%= current_song.yid %>"
       data-autoplay="1"
       data-loop="1"
       id= "youtube-audio">

  </div>
</div>
  <!-- Progress -->
  <div class="progress-container" id="progress-container">
    <div class="progress" id="progress"></div>
    <div class="duration-wrapper">
      <span id="current-time"></span>
      <span id="duration"></span>
    </div>
  </div><!--                                                                                                                                    /*position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%;min-height: 50%;filter: blur(15px);-webkit-filter: blur(50px);transform: scale(1.1); }.player-container {  height: 500px;dth: 400px;background: #e7e7e7;border-radius: 20px;box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);}*/-->

  <script src="https://www.youtube.com/iframe_api" allow="autoplay"></script>
<script >
    /*
 YouTube Audio Embed
 --------------------

 Author: Amit Agarwal
 Web: http://www.labnol.org/?p=26740
*/
    var progress = document.getElementById('progress');
    // Update Progress Bar & Time
    function updateProgressBar(duration, currentTime) {
        const currentTimeEl = document.getElementById('current-time');
        const durationEl = document.getElementById('duration');
        if (currentTimeEl === null || durationEl === null){
            clearTimeout(mytimer);
            clearInterval(mytimer);
            return;
        };
            // Update progress bar width
            const progressPercent = (currentTime / duration) * 100;
            progress.style.width = `${progressPercent}%`;
            // Calculate display for duration
            const durationMinutes = Math.floor(duration / 60);
            let durationSeconds = Math.floor(duration % 60);
            if (durationSeconds < 10) {
                durationSeconds = `0${durationSeconds}`;
            }
            // Delay switching duration Element to avoid NaN
            if (durationSeconds) {
                durationEl.textContent = `${durationMinutes}:${durationSeconds}`;
            }
            // Calculate display for currentTime
            const currentMinutes = Math.floor(currentTime / 60);
            let currentSeconds = Math.floor(currentTime % 60);
            if (currentSeconds < 10) {                                                                                                                                    /*position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%;min-height: 50%;filter: blur(15px);-webkit-filter: blur(50px);transform: scale(1.1); }.player-container {  height: 500px;dth: 400px;background: #e7e7e7;border-radius: 20px;box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);}*/
                currentSeconds = `0${currentSeconds}`;
            }
            currentTimeEl.textContent = `${currentMinutes}:${currentSeconds}`;
    }
    function onYouTubeIframeAPIReady(){
        $('.active').removeClass('active');
        var songitem = document.getElementById("songId<%=current_song.id %>");
        songitem.classList.toggle('active');


        var e=document.getElementById("youtube-audio"),t=document.createElement("img");
        t.setAttribute("id","youtube-icon"),t.style.cssText="cursor:pointer;cursor:hand",e.appendChild(t);
        var a=document.createElement("div");
        a.setAttribute("id","youtube-player"),e.appendChild(a);
        e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo()):(r.playVideo())};
        var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop, start:<%= current_song.startSeconds%>,end:<%= current_song.endSeconds%>, mute: 0},
            events:{onReady:function(e){r.setPlaybackQuality("small");
                    },

                onStateChange:function(e){
                    mutePlayer();
                    <% if !current_user.low_performance %>
                      if (r.getPlayerState()===YT.PlayerState.PLAYING){
                        mytimer = setInterval(function() {
                            var playerCurrentTime = r.getCurrentTime();
                            updateProgressBar(<%= @current_song.endSeconds %>,playerCurrentTime);
                        }, 200);
                      } else {
                        clearTimeout(mytimer);
                        clearInterval(mytimer);
                        // progress.remove();
                      };
                    <% else %>
                      progress.remove();
                    <% end  %>
                r.getPlayerState()===YT.PlayerState.PLAYING ||r.getPlayerState()===YT.PlayerState.BUFFERING?
                    (document.getElementById("playButtonToggle").style.display="none", document.getElementById("pauseButtonToggle").style.display="block")
                    :(document.getElementById("playButtonToggle").style.display="block", document.getElementById("pauseButtonToggle").style.display="none");
                if (r.getPlayerState()===YT.PlayerState.ENDED){
                    $.ajax({
                        type: 'POST',
                        url: '<%=nextSong_path(:playlist_id => current_song.playlist_id, :id => current_song.id, :next => "next") %>',
                    });
                };

                                                                                                                                                        /*position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%;min-height: 50%;filter: blur(15px);-webkit-filter: blur(50px);transform: scale(1.1); }.player-container {  height: 500px;dth: 400px;background: #e7e7e7;border-radius: 20px;box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);}*/




                }}})
        var playButton = document.getElementById("playButton")
        var prev = document.getElementById("prevButton")
        var next = document.getElementById("nextButton")

        playButton.onclick=function(){
            r.getPlayerState()===YT.PlayerState.PLAYING
            ||r.getPlayerState()===YT.PlayerState.BUFFERING?
                r.pauseVideo()
                :r.playVideo()}
        next.onclick=function(){
            $.ajax({
                    type: 'POST',
                    url: '<%=nextSong_path(:playlist_id => current_song.playlist_id, :id => current_song.id, :next => "next") %>',
                });

            return false;
            };
        prev.onclick=function(){
            $.ajax({
                type: 'POST',
                url: '<%=nextSong_path(:playlist_id => current_song.playlist_id, :id => current_song.id, :next => "prev") %>',
            });
            return false;
        };

        var progressContainer = document.getElementById('progress-container');
        // Set Progress Bar
        function setProgressBar(e) {
            const width = this.clientWidth;
            const clickX = e.offsetX;
            const duration = <%= @current_song.endSeconds %>;
            r.playVideo();
            r.seekTo((clickX / width) * duration, true);
        }
        progressContainer.addEventListener('click', setProgressBar);

        var soundButton = document.getElementById("soundButton");
        soundButton.addEventListener('click',function(){
            mutePlayer();
        });

        function mutePlayer(){
            if (document.getElementById('muted?').innerText === '1'){
                r.mute();
            } else {
                r.unMute();
            }
        }



        var songNameFrame = document.getElementById('current_song_name');
        songNameFrame.textContent = "<%= @current_song.name %>";



    }
    $(document).ready(onYouTubeIframeAPIReady())
</script>

<% end %>