
<% if !current_song.nil? %>
<!--  <iframe src='https://www.youtube.com/embed/<%#= current_song.id %>?rel=0&autoplay=1&modestbranding=1' frameborder='0' allowfullscreen></iframe>-->


<div id="youtube-player">
  <div data-video="<%= current_song.yid %>"
       data-autoplay="1"
       data-loop="1"
       id= "youtube-audio">

  </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script >
    /*
 YouTube Audio Embed
 --------------------

 Author: Amit Agarwal
 Web: http://www.labnol.org/?p=26740
*/

    function onYouTubeIframeAPIReady(){
        $('.active').removeClass('active');
        document.getElementById("songId<%=current_song.id %>").classList.toggle('active');



        var e=document.getElementById("youtube-audio"),t=document.createElement("img");
        t.setAttribute("id","youtube-icon"),t.style.cssText="cursor:pointer;cursor:hand",e.appendChild(t);
        var a=document.createElement("div");
        a.setAttribute("id","youtube-player"),e.appendChild(a);
        var o=function(e){var a=e?"IDzX9gL.png":"quyUPXN.png";
        t.setAttribute("src","https://i.imgur.com/"+a)};
        e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo(),o(!1)):(r.playVideo(),o(!0))};
        var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop},
            events:{onReady:function(e){r.setPlaybackQuality("small"),o(r.getPlayerState()!==YT.PlayerState.CUED)},
                onStateChange:function(e){r.getPlayerState()===YT.PlayerState.PLAYING
                ||r.getPlayerState()===YT.PlayerState.BUFFERING?
                    (document.getElementById("playButtonToggle").style.display="none", document.getElementById("pauseButtonToggle").style.display="block")
                    :(document.getElementById("playButtonToggle").style.display="block", document.getElementById("pauseButtonToggle").style.display="none");
                if (r.getPlayerState()===YT.PlayerState.ENDED){
                    $.ajax({
                        type: 'POST',
                        url: '<%=nextSong_path(:playlist_id => current_song.playlist_id, :id => current_song.id, :next => "next") %>',
                    });
                };
                }}})
        var playButton = document.getElementById("playButton")
        var prev = document.getElementById("prevButton")
        var next = document.getElementById("nextButton")
        playButton.onclick=function(){
            r.getPlayerState()===YT.PlayerState.PLAYING
            ||r.getPlayerState()===YT.PlayerState.BUFFERING?
                r.pauseVideo()
                :r.playVideo()}
        next.onclick=function(){
            $.ajax({
                    type: 'POST',
                    url: '<%=nextSong_path(:playlist_id => current_song.playlist_id, :id => current_song.id, :next => "next") %>',
                });

            return false;
            };
        prev.onclick=function(){
            $.ajax({
                type: 'POST',
                url: '<%=nextSong_path(:playlist_id => current_song.playlist_id, :id => current_song.id, :next => "prev") %>',
            });
            return false;
        };
    }
    $(document).ready(onYouTubeIframeAPIReady())

</script>

<% end %>