<!DOCTYPE html>
<html>
  <head>
    <title>Youtify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <%= render 'layouts/navbar' %>
    <% if logged_in? %>
    <div class="row">
    <div id="sidebar" class="col-2">
    <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-10" id="page-content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    </div>
    <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    <% end %>
  </body>
</html>
