<!DOCTYPE html>
<html>
  <head>
    <title>Youtify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column unscrollable">
    <%= render 'layouts/navbar' %>
    <% if logged_in? %>
    <div class="row">
    <div id="sidebar" class="col-2">
    <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-10" id="page-content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    </div>
    <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    <% end %>
    <div id="muted?" hidden="true">0</div>
  </body>
</html>

<script>
    var soundButton = document.getElementById("soundButton")
    function mute(){
        if (document.getElementById('muted?').innerText === '0'){
            document.getElementById('muted?').innerText = '1';
            document.getElementById("soundButtonToggle").style.display="block", document.getElementById("muteButtonToggle").style.display="none";
        } else {
            document.getElementById('muted?').innerText = '0';
            document.getElementById("soundButtonToggle").style.display="none", document.getElementById("muteButtonToggle").style.display="block";

        }
    }
    function initSound(){
        if (document.getElementById('muted?').innerText === '1'){
            document.getElementById("soundButtonToggle").style.display="block", document.getElementById("muteButtonToggle").style.display="none";
        } else {
            document.getElementById("soundButtonToggle").style.display="none", document.getElementById("muteButtonToggle").style.display="block";
        }
    }
    soundButton.addEventListener('click', function () {
        mute();
    })
    $(document).ready(initSound());
</script>
